<div class="w-full mb-2 px-2">
    <a href="{% url 'articles:detail' article.pk %}">
        <div class="w-full h-auto bg-cover bg-center rounded-lg mb-2 border flex flex-col p-4 overflow-hidden">
            <div class="w-full h-full overflow-hidden font-bold">{{article.title_kr}}</div>
            <div class="flex justify-between truncate">
                <div class="w-1/2 flex justify-between ">
                    <div class="items-center flex justify-center block">
                        <span class="font-bold text-teal-700">{{article.country}}</span>
                    </div>
                    <div class="mr-10">
                        <span class="text-sm text-black block">{{article.date}}</span>
                    </div>
                </div>
                <div class="w-1/2 flex justify-between ">
                    <div class="overflow-hidden flex">
                        <span class="text-sm text-gray-600 block truncate">{{article.sector}}</span>
                    </div>
                    <div>
                        <span class="text-sm flex items-center truncate">
                            <i class="fas fa-star text-red-500 text-xs mr mr-1"></i>
                            {{article.category}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>