<div class="w-84 mb-10 px-2">
    <a href="{% url 'articles:detail' article.pk %}">
        <div class="w-full h-32 bg-cover bg-center rounded-lg mb-2 border flex flex-col p-2 overflow-hidden">
            <div class="w-full items-center flex justify-center block"><span class="font-bold text-teal-700 mb-2">{{article.country}}</span></div>
            <div class="w-full h-full overflow-hidden">{{article.title_kr}}</div>
        </div>
        <div class="flex justify-between mb-2 truncate">
            <div class="w-1/2 overflow-hidden flex">
                <span class="text-sm text-gray-600 block truncate">{{article.sector}}</span>
            </div>
            <span class="text-sm flex items-center truncate">
                <i class="fas fa-star text-red-500 text-xs mr mr-1"></i>
                {{article.category}}
            </span>
        </div>
        <span class="text-sm text-black w-11/12 block truncate">{{article.date}}</span>
    </a>
</div>