{% extends "base.html" %}

{% block page_title %}
{{article.title}}
{% endblock page_title %}

{% block content %}

<div class="container mx-auto flex justify-around pb-10">
    <div class="lg:w-1/2 md:w-3/4 px-5">
        <div class="flex w-full justify-between border-section">
            <div class="pb-1 content-around">
                <div class="flex justify-between box-border">
                    <h4 class="text-3xl font-medium h-full">{{article.title_kr}}</h4>
                </div>
                <div class="justify-between w-full overflow-hidden ">
                    <span class="text-gray-700 font-bold">{{article.country}}</span>
                    <span class="text-teal-800 font-bold px-5">{{article.sector}}</span>
                    <span class="mr-5 text-gray-700 font-bold">{{article.category}}</span>
                </div>
                <div>
                    <span class="text-sm text-gray-500 font-bold">{{article.date}}</span>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="border-section">
            <p class="w-full p-5">
                {{article.content_kr|linebreaks}}
            </p>
        </div>
        <div class="boarder-section">
            <p>출처: <a class="text-teal-500", href={{article.link}}>{{article.reference}}</a></p>
        </div>
    </div>
</div>

{% endblock content %}