{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block seearch-bar %}
{% endblock seearch-bar %}


{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/2 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        <h2 class="text-xl"> Search!</h2>

        <form method="get" action="{% url "articles:search" %}">
            {% for field in form %}
                {{field}}
            {% endfor %}
            <button class="btn bg-teal-500 mt-5 text-white">Search</button>
        </form>
    </div>
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/2 mx-auto flex flex-col items-center justify-center mx-auto">

        <h2 class="text-xl mx-auto mb-5">Search Results</h2>
        {% for article in articles %}
            {% include 'mixins/article_card.html' with article=article %}
        {% endfor %}
        {% if not articles %}There is nothing matched{% endif %}
    </div>
    {% if articles %}
    <div class="flex items-center justify-center mx-auto container">
        {% if articles.has_previous %}
            <a href="?{{form.title_kr.value}}&country={{form.country.value}}&category={{form.category.value}}&sector={{form.sector.value}}&start_date={{form.start_date.value}}&end_date={{form.end_date.value}}&page={{articles.previous_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{articles.number}} of {{articles.paginator.num_pages}}</span>

        {% if articles.has_next %}
            <a href="?{{form.title_kr.value}}&country={{form.country.value}}&category={{form.category.value}}&sector={{form.sector.value}}&start_date={{form.start_date.value}}&end_date={{form.end_date.value}}&page={{articles.next_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-right fa-lg"></i>
            </a>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}